//colors
$clr-1-1: #606060;
$clr-1-2: #9c9c9c;
$clr-1-3: #d7d7d7;
$clr-1-4: #fafafa;

$filter-shadow-sm: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
$box-shadow-sm: 1px 4px 8px rgba(0, 0, 0, 0.15);
$box-shadow-lg: 5px 5px 30px rgba(0, 0, 0, 0.23);

// $white: #fff;
// $silver: #ababab;
// //fonts

// $main-font-black: avenirBlack;
// $main-font: avenir;

// $break-large: 992px;
// $break-medium: 768px;
// $break-small: 576px;
