.video-box {
  position: relative;
  width: 85%;
  z-index: 20;
  margin-right: -44%;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(phone-lg) {
    margin-right: 0;
    margin-top: 48px;
  }
}

.video {
  width: 100%;
  height: auto;
  box-shadow: $box-shadow-lg;

  &.lazy-hidden {
    opacity: 1;
  }
}
