/*
0 - 600px:              Phone
600px - 900px:          Tablet portrait
900px - 1200px:         Tablet landscape
1200px- 1800px:         Normal desktop
1800px + :              Large desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@font-face {
  font-family: avenirBlack;
  src: url("../fonts/avenirltstd-black-webfont.woff");
}

@font-face {
  font-family: avenir;
  src: url("../fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: avenirLight;
  src: url("../fonts/Avenir-Light.ttf");
}

.section-header {
  font-size: 40px !important;
  line-height: 41px !important;
}

.section-subheader.case-study-subheader {
  font-weight: normal;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-top: 12px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222222;
  margin-top: 30px;
}

.section-subheader.about-me {
  padding-bottom: 12px !important;
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.17px;
}

.section-sub-subheader {
  font-size: 28px;
  line-height: 33px;
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
}

.container-home.above .description h2 {
  margin-top: 0;
  font-size: 18px;
  line-height: 26px;
  color: #606060;
}

.container-home.above .description p {
  font-weight: 700;
  font-size: 16px;
  color: #9c9c9c;
}

.container-home.above .description .content-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  max-width: 400px;
}

h1.cases {
  font-size: 16px;
  padding: 50px;
}

@media only screen and (max-width: 37.5em) {
  h1.cases {
    padding: 26px;
  }
}

h1.cases a {
  font-size: 16px;
  font-weight: 700;
  color: #606060;
}

section {
  background-color: #fafafa;
}

.robinhood,
.rested,
.about {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1120px;
}

.wrapper-home:after {
  content: '';
  display: table;
  clear: both;
}

.wrapper-home.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
}

footer .footer-home {
  width: 80%;
  text-align: center;
  margin: 100px auto;
}

footer .footer-home:after {
  content: '';
  display: table;
  clear: both;
}

footer .footer-home h1 {
  margin-top: 0;
  font-size: 18px;
  line-height: 33px;
  color: #606060;
  letter-spacing: 0.26px;
}

footer .footer-home p {
  font-size: 16px;
  line-height: 30px;
  color: #9c9c9c;
  letter-spacing: 0.1px;
}

footer .footer-home p a,
.mailchimp-container a {
  color: #9c9c9c;
  font-weight: 700;
  border-bottom: 2px solid #d7d7d7;
  display: inline;
  position: relative;
  overflow: hidden;
}

footer .footer-home p a:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 0px;
  background: #9c9c9c;
  height: 2px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin-bottom: -2px;
}

footer .footer-home p a:hover:after,
footer .footer-home p a:focus:after,
footer .footer-home p a:active:after {
  right: 0;
}

.container-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1120px;
  padding: 80px 0 80px 0;
  background-color: #fafafa;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media only screen and (max-width: 46.85em) {
  .container-home {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container-home.top {
  background-color: unset;
  padding: 20px 0 0 0;
}

.container-home.top .description {
  height: 490px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 37.5em) {
  .container-home.top .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.container-home.top .description h1 {
  margin-top: 0;
  font-size: 24px;
  color: #606060;
}

.container-home.top .description p {
  margin-top: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #9c9c9c;
  letter-spacing: 0.1px;
}

@media only screen and (max-width: 576px) {
  .container-home__icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container-home__icon-box img {
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.container-home__icon-box img:not(:last-child) {
  margin-right: 4px;
}

.container-home.top .description p a {
  color: #333333;
  border-bottom: 1px solid #cccccc;
  display: inline;
  position: relative;
  overflow: hidden;
}

.container-home.top .description p a:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 0px;
  background: #000;
  height: 1px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin-bottom: -1px;
}

.container-home.top .description p a:hover:after,
.container-home.top .description p a:focus:after,
.container-home.top .description p a:active:after {
  right: 0;
}

.container-home.top .image {
  margin-top: 61px;
  width: 50%;
  text-align: right;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-home.content-text {
  font-size: 16px;
  font-weight: 300;
}

.container-home.top .image img {
  margin-right: 65px;
  width: 100%;
  max-width: 205px;
}

.container-home.above .image {
  width: 50%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-home.above .image img {
  width: 100%;
  max-width: 280px;
  height: auto;
  float: right;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.23);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.23);
}

.container-home.above .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-home.bottom {
  -ms-flex-preferred-size: 49.6%;
      flex-basis: 49.6%;
  padding: 58px 12.5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-home.bottom.bottom:first-child {
  border-right: 10px solid #ffffff;
}

.container-home.bottom .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-home.bottom .image img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}

.container-home.bottom .description {
  padding-top: 16px;
  width: 100%;
}

.container-home.bottom .description h2 {
  margin-top: 16px;
  font-size: 18px;
  color: #606060;
  letter-spacing: 0.26px;
}

.container-home.bottom .description p {
  margin-top: 13px;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  letter-spacing: 0.17px;
}

.facebook .container-home.above .image img,
.mailchimp .container-home.above .image img {
  width: 170%;
  margin-right: -65%;
}

@media screen and (min-width: 1700px) {
  .facebook .container-home.above .image img,
  .mailchimp .container-home.above .image img {
    width: 170%;
    margin-right: -85%;
  }
}

@media screen and (max-width: 992px) {
  .facebook .container-home.above .image img,
  .mailchimp .container-home.above .image img {
    width: 170%;
    margin-right: -55%;
  }
  .section a {
    font-size: 12px;
    margin-right: 5px;
  }
  .container-home.top .description {
    padding: 0 10%;
  }
  .container-home.top .description p {
    font-size: 14px;
  }
  .container-home.top .description .section a {
    font-size: 12px;
  }
  .container-home.top .image {
    padding: 0 10%;
  }
  .container-home.above .image {
    padding: 0 10%;
  }
  .container-home.above .description {
    width: 50%;
    padding: 0 10%;
  }
  .container-home.above .description h2 {
    margin-top: 0;
    font-size: 16px;
    line-height: 28px;
  }
  .container-home.above .description p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
  }
  .container-home.bottom {
    padding: 40px 10%;
  }
  .container-home.bottom .description h2 {
    margin-top: 0;
    font-size: 20px;
    line-height: 28px;
  }
  .container-home.bottom .description p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
  }
  footer .footer-home {
    margin: 50px auto;
  }
  footer .footer-home h1 {
    margin-top: 0;
    font-size: 20px;
    line-height: 28px;
    color: #606060;
  }
  footer .footer-home p {
    margin-top: 13px;
    font-size: 16px;
    line-height: 30px;
    color: #9c9c9c;
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .facebook .container-home.above .image img,
  .mailchimp .container-home.above .image img {
    width: 110%;
    margin-right: -15%;
  }
  .container-home.top {
    margin-top: 0;
  }
  .container-home.top .description {
    padding: 0 6%;
  }
  .container-home.top .description p {
    font-size: 12px;
  }
  .container-home.top .image {
    padding: 0 6%;
  }
  .container-home.top .image img {
    max-width: 150px;
  }
  .container-home.above .image {
    padding: 0 6%;
  }
  .container-home.above .image img {
    max-width: 200px;
  }
  .container-home.above .description {
    width: 50%;
    padding: 0 6%;
  }
  .container-home.above .description h2 {
    margin-top: 13px;
    font-size: 20px;
    line-height: 28px;
  }
  .container-home.above .description p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
  }
  .container-home.bottom {
    padding: 40px 6%;
  }
  .container-home.bottom .description h2 {
    margin-top: 0;
    font-size: 20px;
    line-height: 28px;
    color: #111111;
  }
  .container-home.bottom .description p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
  }
  .section a {
    font-size: 13px;
  }
  footer .footer-home h1 {
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
  }
  footer .footer-home p {
    margin-top: 0;
    font-size: 16px;
    line-height: 30px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .wrapper-home {
    padding: 0;
  }
  .container-home.top {
    margin-top: 100px;
  }
  .container-home.top .description {
    margin-top: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .container-home.top .description h1 {
    margin-top: 0;
    font-size: 50px;
    line-height: 56px;
  }
  .container-home.top .description p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
    padding-top: 20px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 576px) and (max-width: 37.5em) {
  .container-home.top .description p {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .container-home.top .description .section {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container-home.top .description .section a {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
  }
  .container-home.top .image {
    margin-top: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    text-align: center;
    padding: 0 10%;
  }
  .container-home.top .image img {
    margin-right: 0;
    width: 100%;
    max-width: 150px;
  }
  .container-home.above {
    margin: 20px auto;
  }
  .container-home.above .image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding: 0 10%;
    text-align: center;
  }
  .container-home.above .image img {
    width: 100%;
    max-width: 150px;
    float: unset;
    height: auto;
  }
  .container-home.above .description {
    margin-top: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 0 10%;
  }
  .container-home.above .description h2 {
    font-size: 32px;
    line-height: 33px;
    text-align: center;
  }
  .container-home.above .description p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
  .container-home.above .description .section {
    text-align: center;
  }
  .container-home.above .description .section a {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
  }
  .container-home.bottom {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    padding: 40px 10% 20px 10%;
  }
  .container-home.bottom.bottom:first-child {
    margin-right: 0;
    border-right: none;
    border-bottom: 10px solid #ffffff;
  }
  .container-home.bottom .image {
    width: 100%;
  }
  .container-home.bottom .image img {
    width: 100%;
  }
  .container-home.bottom .description {
    padding: 30px 0;
    width: 100%;
  }
  .container-home.bottom .description h2 {
    font-size: 32px;
    line-height: 33px;
    text-align: center;
  }
  .container-home.bottom .description p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
  .container-home.bottom .description .section {
    text-align: center;
  }
  .container-home.bottom .description .section a {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
  }
  footer .footer-home {
    margin: 30px auto;
    margin-top: 113px;
    margin-bottom: 115px;
  }
  footer .footer-home h1 {
    text-align: center;
    margin-top: 0;
    font-size: 32px;
    line-height: 33px;
    margin-bottom: 16px;
  }
  footer .footer-home p {
    margin-top: 0;
    font-size: 18px;
    line-height: 28px;
  }
  .desc-image-logo {
    margin: 0 auto;
    margin-top: 20px;
  }
  .facebook .container-home.above .image img,
  .mailchimp .container-home.above .image img {
    width: 110%;
    margin-right: -15%;
  }
}

.mailchimp,
.facebook {
  margin-bottom: 10px;
  position: relative;
}

.mailchimp .container-home.above .image img,
.facebook .container-home.above .image img {
  max-width: none;
  height: auto;
}

.description {
  margin: 0 auto;
}

.container-home.above .image {
  padding-right: 32px;
}

.description .section a {
  line-height: 34px;
  font-weight: 600;
}

.robinhood .container-home.above {
  padding: 80px 0 80px 0;
}

.desc-image-logo {
  width: 45px;
  height: 45px;
  margin-bottom: 15px;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.facebook .container-home,
.mailchimp .container-home {
  overflow: visible;
}

body {
  overflow-x: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: avenirBlack;
  src: url("../fonts/avenirltstd-black-webfont.woff");
}

@font-face {
  font-family: avenir;
  src: url("../fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: avenirLight;
  src: url("../fonts/Avenir-Light.ttf");
}

.section-header {
  font-size: 40px;
  line-height: 41px;
}

.section-subheader.case-study-subheader {
  font-weight: normal;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-top: 12px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222222;
  margin-top: 30px;
}

.section-subheader.about-me {
  padding-bottom: 12px;
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.17px;
}

.section-sub-subheader {
  font-size: 28px;
  line-height: 33px;
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
}

.section-sub-subheader.about-me {
  margin-top: -40px;
}

.main-text {
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  letter-spacing: 0.17px;
}

.main-link {
  font-size: 16px;
  line-height: 33px;
}

.main-link a {
  display: inline;
  position: relative;
  overflow: hidden;
}

.main-link a:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 0px;
  background: #000;
  height: 1px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin-bottom: -1px;
}

.main-link a:hover:after,
.main-link a:focus:after,
.main-link a:active:after {
  right: 0;
}

.archive-title {
  font-size: 20px;
  line-height: 24px;
}

.archive-subtitle {
  font-size: 14px;
  line-height: 19px;
}

p,
a,
li {
  font-family: -apple-system, BlinkMacSystemFont, 'SF-Pro-Display', sans-serif;
  font-weight: 300;
}

h3,
h4,
h5,
h6,
td,
th,
figcaption {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-decoration: none;
  color: #222222;
}

h1,
h2,
h3 {
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  color: #9c9c9c;
  font-weight: 700;
  font-size: 16px;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 48px;
}

.section-header {
  font-size: 40px;
  line-height: 41px;
}

.section-subheader.case-study-subheader {
  font-weight: normal;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-top: 12px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-top: 30px;
}

.section-subheader.about-me {
  padding-bottom: 12px;
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.17px;
  font-weight: 700;
  color: #606060;
}

.section-sub-subheader {
  font-size: 28px;
  line-height: 33px;
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
}

.section-sub-subheader.case-study {
  margin-bottom: 10px;
  font-size: 22px;
  color: #606060;
}

.section-sub-subheader.about-me {
  margin-top: -40px;
}

.main-text {
  font-size: 16px;
  line-height: 27px;
  color: #9c9c9c;
  letter-spacing: 0.17px;
}

.main-link {
  font-size: 16px;
  line-height: 33px;
}

.main-link a {
  display: inline;
  position: relative;
  overflow: hidden;
}

.main-link a:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 0px;
  background: #000;
  height: 1px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin-bottom: -1px;
}

.main-link a:hover:after,
.main-link a:focus:after,
.main-link a:active:after {
  right: 0;
}

.description p {
  font-size: 24px;
  line-height: 27px;
}

#header_work {
  opacity: 0.99;
  width: 100%;
  height: 65px;
  /*align-items: center;
  justify-content: center;*/
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

#header_work:after {
  content: '';
  display: table;
  clear: both;
}

#header_work .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_work .logo-container a {
  height: 35px;
}

#header_work .logo-container img {
  height: 35px;
  width: 35px;
}

#header_work .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-right: -110px;
}

#header_work #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 70%;
  margin: 0 auto;
  min-width: 800px;
}

#header_work #navigation ul li {
  width: auto;
  float: left;
  margin-left: 2vw;
}

#header_work #navigation li a {
  font-size: 14px;
  text-align: left;
  color: #ababab;
}

#header_work #navigation li a:hover {
  color: #222222;
}

#header_work .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -10px;
}

#header_work .nav-icons .email-address {
  display: none;
}

#header_work .nav-icons a {
  border-radius: 100px;
  text-align: center;
  margin: 0 1vw;
  height: 25px;
  font-size: initial;
  line-height: initial;
}

#header_work .nav-icons a:hover {
  cursor: pointer;
}

#header_work .nav-icons a img {
  height: 25px;
  width: 25px;
}

#header_work .nav-icons i {
  height: 0;
}

#header_work .nav-icons .nav-icon {
  float: left;
  color: #fff;
}

#header_work .nav-icons .nav-icon:hover {
  cursor: pointer;
}

.header_image {
  margin-top: 65px;
}

.homepage-hero-image-and-title {
  position: relative;
  margin-top: 80px;
}

.homepage-hero-image-and-title:after {
  content: '';
  display: table;
  clear: both;
}

.homepage-hero-image-and-title .title {
  width: 50%;
  min-height: 350px;
  margin-bottom: 30%;
  float: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.homepage-hero-image-and-title .title h1 {
  margin: 0;
}

.homepage-hero-image-and-title .title p {
  font-size: 24px;
  line-height: 32px;
  padding-top: 40px;
}

.homepage-hero-image-and-title .title a {
  color: #222222;
  text-decoration: none;
}

.homepage-hero-image-and-title .title a:hover {
  border-bottom: 1px solid #222222;
}

.homepage-hero-image-and-title img {
  width: 31%;
  height: auto;
  float: right;
}

.container {
  width: 100vw;
  padding: 0;
  float: left;
  width: 100%;
  padding-top: 80px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container.left {
  padding: 100px 0;
}

.container.left .image {
  width: 40%;
  float: left;
}

.container.left .image img {
  width: 100%;
  margin: 0 auto;
}

.container.left .description {
  margin: 20% auto;
  width: 50%;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
}

.container.right {
  padding: 100px 0;
}

.container.right .image {
  width: 40%;
  float: right;
}

.container.right .image img {
  width: 100%;
}

.container.right .description {
  margin: 20% auto;
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container.right-web {
  padding: 100px 0;
}

.container.right-web .image {
  width: 70%;
  float: right;
}

.container.right-web .image img {
  width: 100%;
}

.container.right-web .description {
  margin: 20% auto;
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-left {
  width: 27%;
  height: 100vh;
  margin: 0;
  position: fixed;
}

.container-left img {
  width: 100%;
}

.container-right {
  float: left;
  margin-left: 30%;
  width: 70%;
}

.wrapper {
  /*width: 60%;*/
  max-width: 764px;
  padding: 0 10px;
  min-width: 800px;
  margin: 0 auto;
}

.wrapper:after {
  content: '';
  display: table;
  clear: both;
}

.design_subheading {
  font-size: 16px;
  text-align: left;
  color: #222222;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h3 a {
  color: #222222;
  text-decoration: none;
}

h3 a:hover {
  border-bottom: 1px solid #222222;
}

.section a {
  display: inline-block;
  padding-bottom: 4px;
  margin-right: 20px;
  color: inherit;
  border-bottom: 2px solid #d7d7d7;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  color: #9c9c9c;
  display: inline;
  position: relative;
  overflow: hidden;
}

.section a:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 0;
  border-bottom: 2px solid #9c9c9c;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin-bottom: -2px;
}

.section a:hover:after,
.section a:focus:after,
.section a:active:after {
  right: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.homepage-laptop-container {
  position: relative;
  clear: both;
  width: 100%;
}

.homepage-laptop-container:after {
  content: '';
  display: table;
  clear: both;
}

.homepage-laptop-container img {
  max-width: 50%;
  float: right;
  margin: 0;
}

.homepage-laptop-container .description {
  width: 30%;
  margin-left: 18%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  clear: both;
}

.homepage-laptop-container .description p {
  margin: 30px 0;
}

.hero-title {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 65px auto;
  max-width: 90%;
  margin-top: 247px;
  margin-bottom: 247px;
}

.hero-title h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 41px;
  color: #606060;
}

.hero-title p {
  margin-top: 12px;
  font-size: 18px;
  line-height: 30px;
  color: #9c9c9c;
}

.hero-image {
  width: 100%;
  max-width: 100%;
  margin-bottom: 67px;
}

.process-title {
  font-size: 50px;
  padding-bottom: 10px;
  font-size: 40px;
  line-height: 50px;
}

.process-title.archive {
  font-size: 40px;
  line-height: 50px;
}

.process-text {
  margin-bottom: 51px;
}

.process-text p {
  font-size: 16px;
  color: #9c9c9c;
}

.process-text a {
  color: #606060;
  border-bottom: 1px solid #ababab;
  font-size: 16px;
  line-height: 35px;
  display: inline;
  position: relative;
  overflow: hidden;
}

.process-text a:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 0px;
  background: #000;
  height: 1px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin-bottom: -1px;
}

.process-text a:hover:after,
.process-text a:focus:after,
.process-text a:active:after {
  right: 0;
}

.process-text.closer {
  margin-bottom: 36px;
}

.footer-link li {
  margin-bottom: 20px;
}

.footer-link li:last-child {
  margin-bottom: 0;
}

.principle-par-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 14px;
}

.principle-par-cont p span {
  color: #606060;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}

.principle-par-cont p:nth-child(2) {
  margin: 0 5vw;
}

.experience-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

.experience-container .experience-list p {
  padding-bottom: 33px;
  font-size: 16px;
  line-height: 24px;
  color: #9c9c9c;
}

.experience-container .experience-list p:last-child {
  padding-bottom: 0px;
}

.experience-container .experience-list p span {
  display: block;
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.17px;
  color: #606060;
}

.experience-container .experience-list:nth-of-type(1) {
  margin-right: 45%;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-container .skills-list {
  width: 30%;
}

.skills-container .skills-list.middle-column {
  margin: 0 5vw;
}

.skills-container .skills-list li {
  font-size: 16px;
  line-height: 28px;
  color: #9c9c9c;
}

.skills-container.closer {
  padding-bottom: 30px;
}

.skills-subheader {
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
}

.view-resume {
  margin-top: 30px;
  margin-bottom: 80px;
}

.view-resume a {
  color: #222222;
  border-bottom: 1px solid #ababab;
}

.contact-link {
  color: #222222;
  padding-bottom: 8px;
  border-bottom: 1px solid #ababab;
  font-size: 20px;
  line-height: 35px;
  display: inline;
  position: relative;
  overflow: hidden;
}

.contact-link:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0px;
  background: #000;
  height: 1px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.contact-link:hover:after,
.contact-link:focus:after,
.contact-link:active:after {
  right: 0;
}

.featured-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-cont a:nth-child(1) {
  margin-right: 2vw;
}

.featured-cont .featured-image-cont {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.featured-cont .featured-image-cont img {
  width: 100%;
  height: 100%;
}

.featured-cont .featured-image-cont .featured-copy {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.featured-cont .featured-image-cont .featured-copy h1,
.featured-cont .featured-image-cont .featured-copy p {
  color: #fff;
}

.featured-cont .featured-image-cont .featured-copy h1 {
  font-size: 18px;
  padding-bottom: 5px;
}

.featured-cont .featured-image-cont .featured-copy p {
  line-height: 1.5;
  font-size: 14px;
}

.recent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.recent-container a {
  width: 50%;
}

.recent-container a:nth-of-type(odd) {
  margin-right: 2vw;
}

.recent-container .recent-info-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 260px;
  overflow: hidden;
  border: 1px solid #e4e4e4;
}

.recent-container .recent-info-modal .recent-img-container img {
  width: 200px;
  height: auto;
  float: left;
}

.recent-container .recent-info-modal .recent-copy-container {
  width: 100%;
}

.recent-container .recent-info-modal .recent-copy-container p {
  line-height: 1.4;
  padding: 20px;
}

.recent-container .recent-info-modal .recent-copy-container p:nth-child(1) {
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  padding-bottom: 5px;
  line-height: 24px;
  font-size: 20px;
}

.recent-container .recent-info-modal .recent-copy-container p:nth-child(2) {
  color: #ababab;
  font-size: 14px;
  line-height: 19px;
  padding-top: 5px;
}

.mobile-nav-close {
  display: none;
}

footer .footer-cont {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 100px;
}

footer .footer-cont:after {
  content: '';
  display: table;
  clear: both;
}

footer .footer-cont .footer-image-cont {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 45%;
  display: inline-block;
}

footer .footer-cont .footer-image-cont.archive {
  margin-right: -20px;
}

footer .footer-cont .footer-image-cont.about-me {
  margin-left: -20px;
}

footer .footer-cont .footer-image-cont img {
  max-width: 80%;
}

footer .footer-cont .footer-image-cont h1 {
  color: #fff;
  -webkit-transform: translate(-50%, -50%) translateZ(20px);
          transform: translate(-50%, -50%) translateZ(20px);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 48px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 2.1s;
  animation-duration: 2.1s;
}

.delay {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@media screen and (min-width: 1025px) {
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper-home {
    margin: 0 auto;
    width: 90%;
  }
  .wrapper-home .container-home .image img {
    height: auto;
  }
  .wrapper-home.bottom {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .wrapper {
    width: 90%;
    margin: 0;
    margin-left: 2.5%;
    max-width: 2000px;
    min-width: initial;
  }
  #header_work .nav-hamburger {
    width: 50px;
    position: absolute;
    top: 0;
    right: 20px;
    text-align: center;
    margin-top: 20.5px;
    margin-bottom: 20.5px;
  }
  #header_work .nav-hamburger .hamburger-line-one {
    margin-bottom: 20px;
  }
  #header_work .nav-hamburger .hamburger-line-one,
  #header_work .nav-hamburger .hamburger-line-two {
    width: 50px;
    height: 2px;
    background-color: #222222;
  }
  #header_work .mobile-nav-close {
    position: absolute;
    top: 25px;
    right: 30px;
    display: none;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  #header_work #navigation {
    display: block;
    margin: 0;
  }
  #header_work #navigation .nav-icons {
    display: none;
  }
  #header_work #navigation ul li {
    display: block;
    float: none;
    margin: 0;
    clear: both;
    padding-bottom: 50px;
    display: none;
  }
  #header_work #navigation ul li a {
    font-size: 50px;
  }
  #header_work .logo-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-left: 20px;
  }
  #header_work .nav-links {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30%;
  }
  .container.right .description {
    padding: 0;
  }
  .homepage-hero-image-and-title .title {
    width: 50%;
    padding-right: 0;
    margin-bottom: 60%;
  }
  .homepage-hero-image-and-title img {
    float: right;
    width: 300px;
  }
  .homepage-laptop-container .description {
    margin-left: 2.5%;
    width: 50%;
    padding-top: 120px;
  }
  .featured-cont {
    display: block;
  }
  .featured-cont .featured-image-cont {
    overflow: unset;
    width: 100%;
    height: auto;
  }
  .featured-cont .featured-image-cont .featured-copy {
    background: transparent;
    position: relative;
    padding: 0;
  }
  .featured-cont .featured-image-cont .featured-copy p,
  .featured-cont .featured-image-cont .featured-copy h1 {
    color: #222222;
  }
  .featured-cont .featured-image-cont .featured-copy h1 {
    font-size: 30px;
  }
  .featured-cont .featured-image-cont .featured-copy p {
    font-size: 25px;
  }
  .featured-cont .featured-image-cont .featured-copy:nth-of-type(1) {
    padding-bottom: 50px;
  }
  .recent-container .recent-info-modal {
    display: block;
    height: auto;
  }
  .recent-container .recent-info-modal .recent-img-container img {
    height: 450px;
    width: 100%;
    float: none;
  }
  .recent-container .recent-info-modal .recent-copy-container p {
    font-size: 25px;
    padding: 20px 5px;
  }
  .recent-container .recent-info-modal .recent-copy-container p:nth-child(2) {
    font-size: 20px;
    padding-top: 0;
  }
  .experience-container .experience-list:nth-of-type(1) {
    margin-right: 38%;
  }
  .hero-image {
    margin-left: 0;
    max-width: 100%;
    width: 100%;
  }
  footer .footer-cont {
    width: 100%;
  }
  footer .footer-cont .footer-image-cont h1 {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.hero-title {
  margin-top: 236px;
  margin-bottom: 236px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .description h1 {
    font-size: 50px;
    line-height: 56px;
  }
  .section-header {
    font-size: 32px;
    line-height: 33px;
  }
  .section-subheader {
    font-size: 16px;
    line-height: 33px;
    text-align: center;
  }
  .section-sub-subheader {
    font-size: 18px;
    line-height: 33px;
    padding-bottom: 20px;
    text-align: center;
  }
  .section-list-item {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
  }
  .main-text,
  .main-link {
    font-size: 18px;
    line-height: 28px;
  }
  .back-to-portfolio-link {
    font-size: 24px;
    line-height: 29px;
    margin: 20px auto;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
    min-width: 0;
  }
  .main-text {
    font-size: 18px;
    line-height: 28px;
  }
  .wrapper-home.bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    line-height: 28px;
  }
  .description h1 {
    font-size: 50px;
    line-height: 56px;
    text-align: center;
  }
  .description .archive p {
    font-size: 18px;
    line-height: 28px;
  }
  .description .homepage-project-title {
    font-size: 32px;
    line-height: 33px;
  }
  .description .homepage-project-description {
    font-size: 21px;
    line-height: 26px;
  }
  .process-text p a {
    font-size: 12px;
    line-height: 26px;
  }
  .view-resume a {
    font-size: 12px;
    line-height: 26px;
  }
  #header_work .new-navigation {
    max-width: 90%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header_work .new-navigation #navigation {
    min-width: 300px;
    width: initial;
  }
  #header_work .new-navigation #navigation ul li {
    padding-bottom: 20px;
  }
  #header_work .new-navigation #navigation ul li a {
    font-size: 40px;
    line-height: 70px;
  }
  #header_work #menuToggle input {
    margin-top: 0;
  }
  #header_work #menuToggle #menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  #header_work .logo-container img {
    height: 45px;
    width: 45px;
  }
  #header_work .logo-container a {
    height: 45px;
  }
  .header_image {
    margin-top: 65px;
  }
  .homepage-hero-image-and-title {
    margin-top: 80px;
    text-align: center;
  }
  .homepage-hero-image-and-title .title {
    margin-bottom: 0;
    width: 100%;
    min-height: initial;
    position: initial;
    top: initial;
    -webkit-transform: none;
            transform: none;
  }
  .homepage-hero-image-and-title .title h1 {
    font-size: 18vw;
  }
  .homepage-hero-image-and-title .title p {
    padding-bottom: 60px;
    line-height: 32px;
  }
  .homepage-hero-image-and-title img {
    float: none;
    width: 100%;
  }
  .container.right {
    padding: 0;
  }
  .container.right .description {
    padding-top: 100px;
    width: 100%;
    text-align: center;
    margin: 0 0 50px 0;
  }
  .container.right .image {
    width: 100%;
    float: none;
    margin-left: 20px;
  }
  .container.left {
    padding: 0;
  }
  .container.left .description {
    padding-top: 100px;
    width: 100%;
    text-align: center;
    margin: 0 0 80px 0;
  }
  .container.left .image {
    width: 100%;
    float: none;
    margin-left: 20px;
  }
  .process-title,
  .process-text {
    margin-bottom: 50px;
  }
  .process-text:last-child .main-text {
    text-align: center;
  }
  .process-title.archive {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .hero-image {
    margin-bottom: 50px;
  }
  .homepage-laptop-container .description {
    width: 90%;
    position: relative;
    text-align: center;
    top: initial;
    padding: 0;
    padding-top: 100px;
    margin: 0 auto;
    clear: both;
    -webkit-transform: none;
            transform: none;
  }
  .homepage-laptop-container .description p {
    width: 90%;
    margin: 30px auto;
  }
  .homepage-laptop-container img {
    clear: both;
    margin: 0;
    width: 100%;
    max-width: 100%;
    display: block;
    margin-top: 30px;
  }
  .featured-cont {
    display: block;
  }
  .featured-cont .featured-image-cont {
    width: 100%;
    height: auto;
  }
  .featured-cont .featured-image-cont .featured-copy:nth-of-type(1) {
    padding-bottom: 50px;
  }
  .container-home .image {
    margin-top: 0;
  }
  .hero-title {
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .hero-title h1 {
    font-size: 40px;
  }
  .hero-title p {
    font-size: 18px;
    line-height: 28px;
  }
  .principle-par-cont {
    display: block;
    padding-bottom: 50px;
  }
  .principle-par-cont p {
    width: 100%;
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 16px;
  }
  .principle-par-cont p:nth-child(2) {
    margin: 0;
    margin-bottom: 50px;
  }
  .recent-container {
    display: block;
  }
  .recent-container .recent-info-modal {
    height: auto;
    width: 100%;
  }
  .recent-container .recent-info-modal .recent-img-container img {
    height: auto;
  }
  .experience-container .experience-list {
    margin-right: 0;
    width: 45%;
  }
  .experience-container .experience-list p {
    font-size: 12px;
    line-height: 26px;
  }
  .experience-container .experience-list:nth-of-type(1) {
    margin-right: 10%;
  }
  .skills-container .skills-list {
    width: 90%;
    text-align: center;
  }
  .skills-container .skills-list.middle-column {
    margin: 0;
  }
  .skills-container .skills-list li {
    font-size: 18px;
    line-height: 28px;
  }
  .skills-subheader {
    font-size: 12px;
    line-height: 26px;
  }
  .view-resume {
    font-size: 12px;
    line-height: 26px;
  }
  .view-resume a {
    font-size: 12px;
    line-height: 26px;
  }
  .process-text p {
    font-size: 12px;
    line-height: 26px;
  }
  .process-text p a {
    font-size: 12px;
    line-height: 26px;
  }
  .contact-link {
    font-size: 12px;
    line-height: 26px;
  }
  footer .footer-cont {
    display: block;
    margin: 0;
    text-align: center;
    padding-top: 100px;
  }
  footer .footer-cont .footer-image-cont {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 90%;
  }
  footer .footer-cont .footer-image-cont.archive {
    margin: 0;
  }
  footer .footer-cont .footer-image-cont.about-me {
    padding-top: 20px;
    margin-left: -10px;
  }
  footer .footer-cont .footer-image-cont.about-me h1 {
    padding-left: 20px;
  }
  footer .footer-cont .footer-image-cont.about-me img {
    padding-left: 20px;
  }
  footer .footer-cont .footer-image-cont img {
    max-width: 90%;
  }
  footer .footer-cont .footer-image-cont h1 {
    font-size: 48px;
    line-height: 50px;
  }
}

.new-navigation {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 75px;
  padding-top: 50px;
}

#menuToggle {
  display: block;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 35px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  top: 12px;
  -webkit-touch-callout: none;
  margin-top: 40px;
}

#menuToggle span {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #333333;
  border-radius: 2px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle:hover span {
  /*margin-bottom: 6px;*/
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(0, 1.7px);
          transform: rotate(45deg) translate(0, 1.7px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: 0;
  padding: 101px 50px 0 70px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background-color: #ffffff;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu li .menu__link {
  color: #606060;
}

#menu li .menu__link:hover {
  color: #9c9c9c;
}

#menu li .active {
  color: #9c9c9c;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.email-url {
  color: #9c9c9c;
  border-bottom: 1px solid #ababab;
  font-weight: 600;
  display: inline;
  position: relative;
  overflow: hidden;
}

.email-url:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 0px;
  background: #000;
  height: 1px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin-bottom: -1px;
}

.email-url:hover:after,
.email-url:focus:after,
.email-url:active:after {
  right: 0;
}

.video-box {
  position: relative;
  width: 98%;
  z-index: 20;
  margin-right: -27%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 46.85em) {
  .video-box {
    margin-right: 0;
    margin-top: 48px;
  }
}

.video {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.23);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.23);
}

.video.lazy-hidden {
  opacity: 1;
}

.u-mt-sm {
  margin-top: 8px !important;
}

.u-mt-md {
  margin-top: 16px !important;
}

.u-mt-lg {
  margin-top: 24px !important;
}

.u-mt-xl {
  margin-top: 40px !important;
}

.u-mb-sm {
  margin-bottom: 8px !important;
}

.u-mb-md {
  margin-bottom: 16px !important;
}

.u-mb-lg {
  margin-bottom: 24px !important;
}

.u-mb-xl {
  margin-bottom: 40px !important;
}
/*# sourceMappingURL=main.css.map */